:root {
    --carolinablue: #57A0D2;
}

* {
    max-width: 100%;
    background-color: white;
    color: black;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

body {
    text-align: center;
}

button {
    background-color: var(--carolinablue);
    color: white;
}

.container {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}